<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/22083da215.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../resources/css/icons.css">
    <link rel="stylesheet" href="../../resources/css/estilopublico.css">
    <title>Document</title>
</head>

<body>
    <div class="row">
        <div class="col-12 ">
            <!---Empieza el navbar-->
            <nav></nav>
        </div>
    </div>

    <main>
        <br><br><br><br><br><br>
        <div class="row-productos my-5 gy-5">
            <div class="col-12">
                <div class="title tittle-small"> Productos de la compra:</div>
            </div>
        </div>

        <div class=" col-12">
            <div class="row" id="vercompra"></div>
        </div>
    </main>

    <!-- Modal Agregar -->
    <div class="modal fade" id="agregarvalo" tabindex="-1" aria-labelledby="agregarvalo" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">VALORACIÓN</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3" method="post" id="save-form" enctype="multipart/form-data">

                        <input class="invisible" type="number" id="id" name="id">

                        <div class="col-md-6">
                            <label for="" class="form-label">Calificacion</label>
                            <input name="cantidad" id="cantidad" type="number" value="0">
                        </div>

                        <!-- <div class="col-md-6">
                            <label for="" class="form-label">Fecha</label><br>
                            <input type="date" name="descp" id="descp" class="form-control"><br>
                        </div> -->

                        <div class="col-12">

                            <label for="inputAddress" class="form-label">Comentario</label>
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" id="comentario" name="comentario" style="height: 100px"></textarea>
                           
                        </div>

                        <input class="invisible" type="text" id="iddetallepedido" name="iddetallepedido">


                    
                        <div class="col-12">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                   
                </div>
            </div>
        </div>
    </div>

    <div class="row menu3">
        <!---Empieza el contenido footer-->
        <div class="col-12 pt-5 pb-4">
            <footer></footer>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/components.js"></script>
    <script type="text/javascript" src="../../controllers/publico/plantilla2.js"></script>
    <script type="text/javascript" src="../../controllers/publico/ver_compra.js"></script>

</body>

</html>