<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/22083da215.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../resources/css/estilopublico.css">
    <link rel="stylesheet" href="../../resources/css/icons.css" />
    <title>Mi cuenta</title>
</head>

<body>
    <!--Principal-->
    <div class="row">
        <!--Row 1-->
        <div class="row">
            <div class="col-12 ">
                <!---Empieza el navbar-->
                <nav></nav>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <!--Row 2-->
        <div class="row">
            <!---Empieza el contenido principal-->
            <div class="col-12 ">
                <main class="contenedor">

                     <div class="topsection">
                                <div class="row">
                                    <div class="col-12">
                                        <img src="../../resources/img/fotosextra/brillando_estilo.png" class="d-block w-100"
                                            alt="brillando_estilo" />
                                    </div>
                                </div>
                    </div>

                    <div class="row-productos">
                        <div class="col-12">
                            <div class="title tittle-small">ESTAS INTERESADO EN
                            </div>
                        </div>
                       <br><br>
                        <div class=" col-12">
                        <div class="row" id="anillos"></div>
                        </div>
                    </div>

<!-- Productos mas vendidos -->

                    <!-- <div class="row-productos">
                        <div class="col-12">
                            <div class="title tittle-small">LAS PREFERIDAS DE LA CASA 
                               <div class="col-12">
                                <a class="linkver" href="">Ver todo</a>
                               </div> 
                            </div>
                        </div>
                       <br><br>
                        <div class=" col-12">
                        <div class="row" id="productosmasvendidos"></div>
                        </div>
                    </div> -->

<!-- Vistos recientemente-->
                    <div class="row-productos">
                        <div class="col-12">
                            <!-- <h4 class="text-center" id="title">CATÁLOGO DE PRODUCTOS</h4> -->
                            <div class="title tittle-small">VISTOS RECIENTEMENTE</div>
                        </div>
                        <div class=" col-12">
                        <!-- <div class="row" id="productos"></div> -->
                        </div>
                    </div>
<!-- TESTIMONIOS -->
                    <div class="row-productos">
                        <div class="col-12">
                            <!-- <h4 class="text-center" id="title">CATÁLOGO DE PRODUCTOS</h4> -->
                            <div class="title tittle-small">TESTIMONIOS</div>
                        </div>
                        <div class=" col-12">
                        <!-- <div class="row" id="productos"></div> -->
                        </div>
                    </div>

                     

                </main>
            </div>
        </div>
        <!--Row 3-->
        <div class="row menu3">
            <!---Empieza el contenido footer-->
            <div class="col-12 pt-5 pb-4">
                <footer></footer>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../controllers/publico/plantilla2.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/components.js"></script>
    <!-- <script type="text/javascript" src="../../controllers/publico/filtro.js"></script> -->
</body>
</body>

</html>