<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/22083da215.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../resources/css/icons.css">
    <link rel="stylesheet" href="../../resources/css/estilopublico.css">

</head>

<body>
    <div class="row">
        <div class="col-12 ">
            <!---Empieza el navbar-->
            <nav></nav>
        </div>
    </div>

    <br><br><br><br><br>
    <div class="row my-5 gy-5">
        <div class="row-productos">
            <div class="col-12">
                <div class="title tittle-small">Carrito de compras</div>
            </div>
        </div>
        <main>

            <!-- Tabla para mostrar el detalle de los productos agregados al carrito de compras -->

            <div class="container">
                <div class="row">
                    <div class="col-7">
                        <table class="table">
                            <thead>
                                <tr id="records"></tr>
                                <tr>
                                    <th scope="col">PRODUCTO</th>
                                    <th scope="col">PRECIO (US$)</th>
                                    <th scope="col">CANTIDAD</th>
                                    <th scope="col">SUBTOTAL (US$)</th>
                                    <th scope="col">ACCIONES</th>

                                </tr>
                            </thead>
                            <tbody id="tbody-rows"></tbody>
                        </table>
                    </div>
                    <div class="col-5">
                        <div class="col-2">
                            <main class="container">
                                <div class="master-container">
                                    <div class="card checkout">
                                        <label class="title">Mi carrito</label>
                                        <hr>
                                        <div class="details">
                                            <span>Cliente:</span>
                                            <span>...</span>
                                            <span>Cantidad de productos totales:</span>
                                            <span id="records">$0.00</span>
                                            <span>Total:</span>
                                        </div>
                                        <div class="checkout--footer">
                                            
                                            <label class="price"><sup>$</sup><b id="pago"></b></label>
                                            <button class="checkout-btn" onclick="finishOrder()">Checkout</button>
                                        </div>
                                    </div>
                                </div>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
          

            <div class="modal fade" id="item-modal" tabindex="-1" aria-labelledby="item-modal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h4 class="center-align">Cambiar cantidad</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="item-form" method="post" enctype="multipart/form-data">
        
                                <input class="invisible" type="number" id="id_detalle_pedido" name="id_detalle_pedido">
        
                                <div class="input-field col s12 m4 offset-m4">
                                    <i class="material-icons prefix">list</i>
                                    <input type="number" id="cantidad" name="cantidad" min="1" class="validate" required>
                                    <label for="cantidad">Cantidad</label>
                                </div>
                                <div class="col s12 center-align">
                                    <!-- Enlace para cerrar el componente Modal -->
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <!-- Botón para enviar el formulario -->
                                    <button type="submit" class="btn btn-primary">Agregar</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>


    <div class="row menu3">
        <!---Empieza el contenido footer-->
        <div class="col-12 pt-5 pb-4">
            <footer></footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/components.js"></script>
    <script type="text/javascript" src="../../controllers/publico/plantilla2.js"></script>
    <script type="text/javascript" src="../../controllers/publico/cart.js"></script>

</body>
</body>

</html>